*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo h1 {
    font-size: 100px;
  }
  
  .logo h2 {
    font-size: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    font-size: 40px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    font-size: 30px;
  }

  #sobre {
    text-align: justify;
    font-size: 35px;
  }

  #habilidades{
    text-align: justify;
    font-size: 35px; 
  }

  #trabalhos{
    text-align: justify;
    font-size: 35px;  
  }

  #contato{
    text-align: justify;
    font-size: 35px;  
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .social-media li {
    margin-right: 55px;
  }
  
  .social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 55px;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 300px; /* Ajuste a altura desejada */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Adicione esta linha para centralizar as imagens */
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item.fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .carousel-next,
  .carousel-previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #ccc;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .carousel-previous {
    left: 10px;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }